node_modules
.next
out
.env
.env.local
/data
*.db
*.sqlite
*.sqlite-journal
.DS_Store
tsconfig.tsbuildinfo
frontend/node_modules
frontend/.next
frontend/data
backend/node_modules
backend/.next
backend/media
